#mainPane{
	-fx-background-color: linear-gradient(#8FBBC9, #CEF3FF);
}

#cabecera{
	-fx-background-color: black;
}

#lblCabecera{
	-fx-font-family: System;
	-fx-font-weight: bold;
	-fx-font-size: 50;
	-fx-text-fill: white;
}

#btnVolver{
	-fx-font-size: 24px;
	-fx-background-color: black;
	-fx-background-radius: 60;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-color: white;
	-fx-border-width: 3px;
	-fx-border-radius: 60;
}

#btnFiltrar{
	-fx-font-size: 24px;
	-fx-background-color: #717171;
	-fx-background-radius: 60;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-color: black;
	-fx-border-width: 3px;
	-fx-border-radius: 60;
}

#barraBusqueda{
	-fx-font-size: 24px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-radius: 60;
	-fx-border-radius: 60;
}

#btnBuscar{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-background-color: #0036F8;
	-fx-font-size: 24px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-radius: 60;
	-fx-border-radius: 60;
}

#celdaPelicula{
	-fx-background-color: #d9d9d9;
	-fx-background-radius: 25;
	-fx-border-color: black;
	-fx-border-width: 3px;
	-fx-border-radius: 25;
}

#poster{
	-fx-arc-width: 30;
	-fx-arc-height: 30;
}

#tituloPelicula{
	-fx-font-size: 40;
	-fx-font-fill: black;
	-fx-font-weight: bold;
}

#lblGenero{
	-fx-font-size: 32;
	-fx-font-fill: black;
	-fx-font-weight: bold;
}

#genero{
	-fx-font-size: 32;
	-fx-font-fill: black;
	-fx-font-weight: bold;
}

#lblFechaLanzamiento{
	-fx-font-size: 32;
	-fx-font-fill: black;
	-fx-font-weight: bold;
}

#fechaLanzamiento{
	-fx-font-size: 32;
	-fx-font-fill: black;
	-fx-font-weight: bold;
}

#sinopsis{
	-fx-font-size: 24;
	-fx-font-fill: black;
	-fx-font-weight: bold;
}

#descripcion{
	-fx-font-size: 16;
	-fx-font-fill: black;
}

#btnBorrarPelicula{
	-fx-background-color: red;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-radius: 60;
	-fx-border-radius: 60;
	-fx-pref-width: 40;
	-fx-pref-height: 40;
}
