/** Styles de la pantalla de login */

/* Fondo gradiente */
.root {
    -fx-background-color: linear-gradient(to top, #CEF3FF, #00789E);
}


/* Estilos generales de los botones */
.button{
	
	-fx-font-family: "Inter";
	-fx-text-fill:#FFFFFF;
	-fx-font-size: 14.0px;
    -fx-border-width: 2.0px;
    -fx-border-radius: 15.0;
    -fx-background-radius: 15.0;
    -fx-padding: 3.0 6.0 6.0 6.0;
	-fx-background-color:#000000;
}

.label{
		-fx-font-size: 20.0px;
	    -fx-font-weight: 700; 
	
}

#panelPrincipal{
	  -fx-background-color: rgba(217, 217, 217, 0.50);
}

/* Boton de registro */
#btnAlta{
	
	-fx-background-color:#000000;
}

/* Hover del boton de registro */
.button:hover{
	-fx-background-color:#000AFF;
}

#cabecera{
	-fx-background-color:black;
}

#txtADescPeli{
	-fx-font-family: "Inter";
	-fx-font-size: 14.0px;
		
}

#lblCabecera {
    -fx-text-fill: white;
    -fx-alignment: center; 
    -fx-font-size: 30px;
    -fx-font-weight: 700; 
    -fx-text-alignment: center;
	-fx-translate-x: 50%; 
    -fx-translate-y: 50%;
    -fx-alignment: CENTER;
    
    
}

#txtTituloPelicula {
    -fx-border-color: #000000;
    -fx-border-radius: 15;
    -fx-background-radius: 15; 
    -fx-font-family: "Inter";
	-fx-font-size: 20.0px;
}


