#mainPane{
	-fx-background-color: linear-gradient(#8FBBC9, #CEF3FF);
}

#subPane{
	-fx-background-color: rgb(138, 184, 199);
	-fx-background-radius: 50;
}

#cabecera{
	-fx-background-color: black;
}

#lblCabecera{
	-fx-font-family: System;
	-fx-font-size: 50;
	-fx-text-fill: white;
}

#lblTitulo{
	-fx-font-family: System;
	-fx-font-size: 30;
	-fx-font-weight: bold;
}

#lblDescripcion{
	-fx-font-family: System;
	-fx-font-size: 30;
	-fx-font-weight: bold;
}

#lblFechaEstreno{
	-fx-font-family: System;
	-fx-font-size: 30;
	-fx-font-weight: bold;
}

#lblPoster{
	-fx-font-family: System;
	-fx-font-size: 30;
	-fx-font-weight: bold;
}

#txtField{
	-fx-font-size: 24px;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-background-radius: 60;
	-fx-border-radius: 60;
}

#fechaEstreno{
	-fx-font-size: 24px;
	-fx-border-color: black;
	-fx-border-width: 2px;
}

#btnAlta{
	-fx-font-size: 50px;
	-fx-background-color: blue;
	-fx-background-radius: 60;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-color: black;
	-fx-border-width: 3px;
	-fx-border-radius: 60;
}

#btnVolver{
	-fx-font-size: 24px;
	-fx-background-color: black;
	-fx-background-radius: 60;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-color: white;
	-fx-border-width: 3px;
	-fx-border-radius: 60;
}
